@model LiteCommerce.DomainModels.Shipper

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">@ViewBag.Title</h4>
</div>
<form method="post" action="~/Shippers/Save">
  <div class="modal-body">

    @Html.HiddenFor(m => m.ShipperID)
    <div class="form-group">
      <label for="exampleInputEmail1">Tên nhà vận chuyển:</label>
      @Html.TextBoxFor(m => m.ShipperName, new { @class = "form-control", @autofocus = "autofocus" })
    </div><div class="form-group">
      <label for="exampleInputEmail1">Số điện thoại:</label>
      @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
    </div>


  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Đồng ý</button>

    <button type="button" class="btn btn-warning" data-dismiss="modal">Bỏ Qua</button>
  </div>
</form>
