@model LiteCommerce.Admin.Models.ShipperPaginationQueryResult
@{
  ViewBag.Title = "Danh sách nhà vận chuyển";
}
<!--form tìm kiếm -->
<div class="container-fluid">
  <form method="get" action="~/Shippers/Index">
    <div class="input-group">
      <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên nhà vận chuyển ..." value="@Model.SearchValue">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <i class="glyphicon glyphicon-search"></i> Tìm kiếm
        </button>
      </div>
    </div>
  </form>
</div>
<!--danh sách nhà vận chuyển -->
<div class="container-fluid">

  <div class="text-left">
    <p>Có tất cả <strong>@Model.RowCount</strong> nhà vận chuyển. Bạn đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageCount</strong> trang.</p>
  </div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr class="success">
        <th>Tên nhà vận chuyển</th>
        <th>Điện thoại</th>
        <th class="text-right">
          <a href="@Url.Action("Add","Shippers")" class="btn btn-sm btn-info" type="button" data-toggle="modal" data-target="#addShipper">
            <i class="fa fa-plus"></i> Thêm mới
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.Data)
      {
        <tr>
          <td>@item.ShipperName</td>
          <td>@item.Phone</td>
          <td class="text-right">
            <a href="#" class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#exampleModal" onclick="Edit(@item.ShipperID)" data-id="@item.ShipperID">
              <i class="fa fa-edit"></i>
            </a>
            <a href="#" class="btn btn-sm btn-danger" type="button" data-toggle="modal" data-target="#exampleModal" onclick="confirmDelete(@item.ShipperID)" data-id="@item.ShipperID">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="text-center">
    <ul class="pagination">
      @for (int i = 1; i <= Model.PageCount; i++)
      {
        if (i == Model.Page)
        {
          <li class="active"><a href="#">@i</a></li>
        }
        else
        {
          <li><a href="~/Shippers/Index?page=@i&searchValue = @Model.SearchValue">@i</a></li>
        }
      }
    </ul>
  </div>
</div>

<!-- Modal Add Shipper -->
<div class="modal fade" id="addShipper">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
<!-- end Modal Add Shipper -->
<!-- Modal Edit Shipper-->
<div id="editModal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cập nhật nhà vận chuyển</h4>
      </div>
      <div class="modal-body" id="ModalBodyEdit">

      </div>
    </div>

  </div>
</div>
<!--End ofModal Edit Shipper-->

<!-- Modal Delete -->
<div id="deleteModal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Xác nhận xóa nhà vận chuyển</h4>
      </div>
      <div class="modal-body" id="ModalBodyDelete">

      </div>
    </div>

  </div>
</div>
<!-- End Modal Delete -->
<script>
  var Edit = function (id) {
    $.ajax({
      type: "POST",
      url: "/Shippers/Edit",
      data: { id: id },
      success: function (response) {

        $("#ModalBodyEdit").html(response);
        $("#editModal").modal("show");
      }
    })
  }

  var confirmDelete = function (id) {
    $.ajax({
      type: "GET",
      url: "/Shippers/Delete",
      data: { id: id },
      success: function (response) {

        $("#ModalBodyDelete").html(response);
        $("#deleteModal").modal("show");
      }
    })
  }
</script>
