@model LiteCommerce.Admin.Models.EmployeePaginationQueryResult
@{
  ViewBag.Title = "Danh sách nhân viên";
}
<!-- form tìm kiếm -->
<div class="container-fluid">
  <form method="get" action="~/Employees/Index">
    <div class="input-group">
      <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên nhân viên ..." value="@Model.SearchValue">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <i class="glyphicon glyphicon-search"></i> Tìm kiếm
        </button>
      </div>
    </div>
  </form>
</div>
<!--danh sách Nhân Viên-->
<div class="container-fluid">
  <div class="text-left">
    <p>Có tất cả <strong>@Model.RowCount</strong> nhân viên, bạn đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageCount</strong> trang</p>
  </div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr class="success">
        <th>Họ </th>
        <th>Tên</th>
        <th>Ngày sinh</th>
        <th>Ảnh</th>
        <th>Email</th>
        <th>Ghi chú</th>

        <th class="text-right">
          <a href="~/Employees/Add" class="btn btn-sm btn-info">
            <i class="fa fa-plus"></i> Thêm mới
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.Data)
      {
        <tr>
          <td>@item.FirstName</td>
          <td>@item.LastName</td>
          <td>@item.BirthDate</td>
          <td><img @*src="~/Themes/dist/img/user2-160x160.jpg"*@ src="@item.Photo" style="height:80px; width:70px;" alt="User Image"></td>

          <td>@item.Email</td>

          <td>
            @item.Notes
          </td>
          <td class="text-right">
            <a href="~/Employees/Edit/@item.EmployeeID" class="btn btn-sm btn-success">
              <i class="fa fa-edit"></i>
            </a>
            <a href="~/Employees/Delete/@item.EmployeeID" class="btn btn-sm btn-danger">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="text-center">
    <ul class="pagination">
      @for (int i = 1; i <= Model.PageCount; i++)
      {
        if (i == Model.Page)
        {
          <li class="active"><a href="#">@i</a></li>
        }
        else
        {
          <li><a href="~/Employees/Index?page=@i&searchValue=@Model.SearchValue">@i</a></li>
        }
      }
    </ul>
  </div>
</div>

