@model LiteCommerce.Admin.Models.CustomerPaginationQueryResult
@{
  ViewBag.Title = "Quản Lý khách hàng";
}
<!--form tìm kiếm -->
<div class="container-fluid">
  <form method="get" action="~/Customers/Index">
    <div class="input-group">
      <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên Khách hàng ..." value="@Model.SearchValue">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
          <i class="glyphicon glyphicon-search"></i> Tìm kiếm
        </button>
      </div>
    </div>
  </form>
</div>
<!--danh sách khách hàng -->
<div class="container-fluid">

  <div class="text-left">
    <p>Có tất cả <strong>@Model.RowCount</strong> khách hàng. Bạn đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageCount</strong> trang.</p>
  </div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr class="success">
        <th>Tên khách hàng</th>
        <th>Tên giao dịch</th>
        <th>Địa chỉ</th>
        <th>Quốc gia</th>
        <th>Thành phố</th>
        <th>Mã vùng</th>
        <th class="text-right">
          <a href="~/Customers/Add" class="btn btn-sm btn-info">
            <i class="fa fa-plus"></i> Thêm mới
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.Data)
      {
        <tr>
          <td>@item.CustomerName</td>
          <td>@item.ContactName</td>
          <td>@item.Address</td>
          <td>@item.Country</td>
          <td>@item.City</td>
          <td>@item.PostalCode</td>
          <td class="text-right">
            <a href="~/Customers/Edit/@item.CustomerID" class="btn btn-sm btn-success">
              <i class="fa fa-edit"></i>
            </a>
            <a href="~/Customers/Delete/@item.CustomerID" class="btn btn-sm btn-danger">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="text-center">
    <ul class="pagination">
      @for (int i = 1; i <= Model.PageCount; i++)
      {
        if (i == Model.Page)
        {
    <li class="active"><a href="#">@i</a></li> }
            else
            {
    <li><a href="~/Customers/Index?page=@i&searchValue = @Model.SearchValue ">@i</a></li>}

          }
    </ul>
  </div>
</div>

